html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

header p {
    font-weight: 900;
    font-size: larger;
    text-align: center;
}

/* Realize as seguintes tarefas:
1 - Utilizando a abordagem mobile first e media queries, crie três versões de layout diferentes para essa página. Cada layout deve corresponder a um tamanho diferente de página (pequeno, médio e grande). Faça pelo menos um commit para cada layout; */
/* 2 - Para fazer isso de forma adequada, você deve prestar atenção no conteúdo da página e pensar em como mostrá-lo em cada um dos tamanhos de tela:
Onde a lista de capítulos deve estar posicionada?
Como a história deve ser mostrada?
Como o cabeçalho deve ser posicionado?
O que fazer com as informações do autor em cada tamanho de tela? */
/* 3 - Talvez você precise alterar o HTML um pouco, adicionando elementos para facilitar a estilização, ou talvez mudando um bloco de lugar dentro da página. */
@media screen and (max-width: 800px) {
    body {
        margin: 20px;
    }
    
    header p, h2, h1 {
        margin: 1em;
    }

    article p {
        margin: 2em;
        font-size: 18px;
    }

}

@media screen and (min-width: 801px) and (max-width: 1300px) {
    body {
        margin: 40px;
        background-color: aliceblue;
    }

    header p, h2, h1 {
        margin: 1em;
    }

    article p {
        margin: 2em;
        font-size: 18px;
    }

    .aside {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }
    
    footer {
        text-align: center;
        margin: 0 2em;
    }
}