body {
    font-size: 16px;
}

h1 {
    font-family: sans-serif;
    font-size: 65px;
    color: orange;
}

.fundo-destaque {
    background-color: chartreuse;
}

p {
    font-weight: 600;
    font-size: 3em;
}

ul {
    font-style: italic;
    line-height: 30px;
    text-align: center;
    text-decoration: underline;
}


#amarelo {
    background-color: yellow;
}

#vermelho {
    background-color: red;
}

#marrom {
    background-color: brown;
}